{% extends 'base.html' %} {% block content %}
<div class="container text-center">
  <div class="d-flex mb-3">
    <h1>{{ title }}</h1>
  </div>

  <div class="row justify-content-md-center">
    {% for p in product %}
    <div class="card mb-5 me-5 col-xs-12 col-md-3 ">
      {% if p.photo %}
      <img src="{{p.photo.url}}" class="card-img-top" alt="OOPS!" />
      {% endif %}
      <div class="card-body">
        <h2 class="card-title">{{ p.name }}</h2>
        <p class="card-text">{{ p.description }}</p>
        <a href="{{ p.get_absolute_url }}" class="btn btn-primary">More</a>
      </div>
    </div>
    {% endfor %}
  </div>

  {% endblock %}
</div>
