<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    {% if user.is_authenticated %}
    <h1>Hello, {{ user.username }}</h1>
    {% else %}
    <h1>Hello, {{ user }}</h1>
    {% endif %}
    {{comment}}
<nav>
    <ul>
        <li><a href="{% url 'shop_app:home' %}">Home</a></li>
        <li><a href="{% url 'shop_app:about' %}">About</a></li>
        <li><a href="{% url 'shop_app:category' %}">Category</a></li>
        <li><a href="{% url 'shop_app:allproducts' %}">All Products</a></li>
        {% if user.is_authenticated %}
        <form action="{% url 'shop_app:logoutuser' %}" method="post">
            {% csrf_token %}
            <button>Log out</button>
        </form>
        {% else %}
        <li><a href="{% url 'shop_app:authentication' %}">Auth</a></li>
        <li><a href="{% url 'shop_app:register' %}">Register</a></li>
        {% endif %}    
    </ul>
</nav>
{% if user.is_authenticated %}
<h3>Shopping cart</h3>
<table>
    <thead>
        <tr>
            <th> Total quantity</th>
            <th>Total price</th>
        </tr>
    </thead>
    <tbody>
        <!-- {% for item in cart %}
                <tr>
                    <td>{{item.quantity}}</td>
                    <td>{{item.total_price}}</td>
                </tr>
        {% endfor %} -->
        <tr>
            <td>{{cart.get_total_quantity}}</td>
            <td>{{cart.get_total_price}} $</td>
        </tr>
    </tbody>
</table>
<a href="{% url 'cart:cart_detail' %}">Move to cart</a>
<br>
{% endif %}
<br>
    {% block content %}{% endblock %}
</body>
</html>