{% extends 'base.html' %} {% block content %}
<div class="container text-left">
  <div class="d-flex mb-3">
    <h1>{{ title }}</h1>
  </div>
  <p>
    "Welcome to a store full of mysterious secrets and magic - The Witcher
    Store! Here you will find a wide range of products inspired by the
    enchanting universe of The Witcher. We offer original items related to the
    characters and worlds of The Witcher. You can update your collection of
    Witcher books with us, including the works of Andrzej Sapkowski and other
    authors that will expand your immersion in this fantastic world. In addition
    to books, we provide a wide selection of clothing, accessories, and
    souvenirs inspired by The Witcher. You can find branded t-shirts featuring
    Geralt of Rivia, buttons with the School of Witchers' logo, as well as mugs,
    posters, and much more to express your devotion to this epic saga. We take
    pride in the quality of our products and strive to offer you the best
    service. Our team is always ready to assist you in choosing and placing your
    order. We ship worldwide, ensuring that every Witcher fan can enjoy our
    unique merchandise. Join us and immerse yourself in the magical world of The
    Witcher today! Share your favorite moments from the books and games, engage
    with fellow fans, and relish in the enchantment of The Witcher."
  </p>
  <div class="d-flex justify-content-end">
    <h2> - Glazer</h2>
  </div>
</div>

{% endblock %}
