{% extends 'base.html' %}

{% block content %}

{{ error }}

<div class="text-center">
<form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% for f in form %}
        <p><label for="{{ f.id_for_label }}">{{f.label}}:</label>{{ f }}</p>
        {% if f.errors %}
            <div class="alert alert-primary" role="alert">{{ f.errors }}</div>
        {% endif %}
    {% endfor %}
    <button class="btn btn-primary" type="submit">Registration</button>
</form>
</div>

{% endblock %}