/* base */

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    background-color: white;
    min-width: 320px;
}

img {
    max-width: 100%;
    height: auto;
}

li {
    list-style-type: none;
}

a {
    color: #111;

}

a:hover {
    color: #e06d6d;
}


.section {
    padding: 50px 0;
}

/* Header */
.navbar-expand-lg .navbar-nav .nav-link {
    color: #111;
    text-transform: uppercase;
    font-weight: 550;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color:#e06d6d;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    right: 0;
    left: auto;
}

.top-menu li a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #111;
    height: 1px;
    transition: all .3s;
    transform: scale(0);
}

.top-menu li a:hover::after {
    transform: scale(1);
}
/* Header */